<form action="/add" method="Post">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Conteudo</p>
    <textarea name="conteudo"></textarea>
    <button type="Enviar">Cadastrar Postagem</button>
</form>

<!-- Não precisa colocar a estrutura html, apenas o contedo que queremos pois já foi definido o main handlebars com a estrtura html -->

<!-- GET - envia as informações pela url
Post - Não passa os dados pela url -->

<!-- No action informa para qual rota quero enviar
os dados do formulário -->

<!-- /add rota que receberá as informações preenchidas no formulário.
    Formulário faz uma requisição com o metodo post -->